* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #ec715f;
}

.img {
  width: 100px;
  height: 70px;
  text-align: 
}

.nav-list {
  width: 1024px;
  height: 70px;
  text-align: center;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;
  color: #fafafa;
}